.bg-main {
    background-color: #d0dad0;   
}

.bg-pending{
    background-color: #d0dad0;
}


button.option {
    background-color: #ffffff;   
    color: #000000;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #2e7d32;
    transition: all 200ms ease-in-out;
}

.pending-button {
    background-color: #ffffff;   
    color: #000000;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #7e2222;
    transition: all 200ms ease-in-out;
}

.pending-button:hover {
    background-color: #a93226;
}

button.option:hover {
    background-color: #8aeb8d;  
    border-color: #81c784; 
}

button.option:active {
    background-color: #2e7d32;   
    border-color: #1b5e20;
}

#btn_salir {
    background-color: #a93226;   
    color: #ffffff;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    transition: background-color 200ms ease-in-out;
}

#btn_salir:hover {
    background-color: #e74c3c;   
}

#btn_salir:active {
    background-color: #922b21;  
}
